<!--exam created panel-->
  <div class="panel-transparent" [@movePanel]='move'  *ngIf="panel == 'created'">
      <!--header-->
      <span class="big white">{{title}}<span *ngIf="title == ''">An</span> exam event created.</span><br><br>

      <!--box 1-->
      <div>
        <p class="med box-1">
          Next, either you can choose to show test instructions or can skip it to begin the test.
        </p>
      </div>

      <!--box 2-->
      <div>
        <p class="med box-2">
          If you wish to start the exam later, use the code provided below and put it in the home page to resume the exam.
        </p>
      </div>

      <!--box 3-->
      <div>
        <p class="med box-2">
          Exam identifier code:<br/>
          <span class="big white">{{newExamCode}}</span>
        </p>
      </div>
      
      <!--action buttons-->
      <div class="panel-buttons">
        <button id="show_instructions" class="button-style-hollow" (click) = "showInstructions()">Show Instructions</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="begin_exam" class="button-style-hollow" (click) = "beginExam()">Begin Exam</button>
      </div>
  </div>