 
<div class="bramhan">
  <!--gradient-->
  <div class="alert" [ngClass]="{'hidden': !last5mins}"></div>
  <div id="gradient" class="gradient" [ngClass]="{'hidden': last5mins}"></div>
  
  <!--topbar-->
  <div class="topbar" [@topbar]='examPanelState'>
     <div class="cell-logo">
          <img class="uf-logo" src="./app/images/ufsq.png">  
     </div>

     <div class="cell" [ngClass]="{'hidden': panel !== 'home', 'cell': panel === 'home'}">
        <h2 class="gray">Hey there!</h2>
        <p><span class="color">Welcome to UF Exam Timer.</span> <br/>Exam timer is exactly what it sounds like.</p>
     </div>

     <div class="cell-info" [ngClass]="{'hidden': panel !== 'begun' && panel !== 'created' , 'cell-info': panel === 'begun' || panel === 'created'}">
           <div class="examInfo">
              <span class="big">{{course}}</span><br>
              <span class="big gray">{{number}}</span><br>
          </div>
     </div>

     <!--fullscreen-->
     <div class="cell-last" id="toggleFullscreen">
        <p><img src="./app/images/fullscreen.png" class="topbar-icon"></p>
        <span class="topbar-label">Fullscreen</span>
     </div>

     <!--reset-->
     <div class="cell-last" (click)="resetTimer()" [ngClass]="{'hidden': panel !== 'begun', 'cell-last': panel === 'begun'}">
        <p><img src="./app/images/reset.png" class="topbar-icon"></p>
        <span class="topbar-label">Reset</span>
     </div>

     <!--announce-->
     <div class="cell-last">
        <p><img src="./app/images/announce.png" class="topbar-icon"></p>
        <span class="topbar-label">Make an announcement</span>
     </div>

  </div>

  
  
  
  
  <!--home panel-->
  <div class="panel-alt-2" [@movePanel]='move' [ngClass]="{'hidden': panel !== 'home'}">
      <span class="big white">Let's get started.</span><br><br>
      
      <div>
        <p class="med box-1">
          Welcome to Exam Timer. Exam Timer is a countdown timer to help manage written tests. <br/>Exam Timer features making announcements, instructions, and much more.
        </p>
      </div>

      <div>
        <p class="med box-2">
          You need to create an examination event first. To begin click on the button below.
        </p>
      </div>
      
  </div>

    <div class="panel-alt-2-button" [@movePanel]='move' [ngClass]="{'hidden': panel !== 'home'}">
      
      <div>
        <button id="create_exam" class="style-2" (click) = "createExam()">Create an exam</button>
      </div>
      
  </div>



  
  





  <!--new exam-->
  <div class="panel-create-test" [ngClass]="{'hidden': panel != 'create'}" [@newExamPanel]='examPanelState'>
      <span class="big white">Create an examination event.</span><br><br>
      
      <div class="box-1-dark">
          <form [formGroup]="newExamForm" class="create" (ngSubmit)='onNewExamCreate($event)'>
              <tbody>
                <tr>
                  <td>
                    <label>
                      <span>Course Name</span>
                      <input formControlName="course" id="course" type="text" class="style-3" placeholder="Machine Learning">
                    </label>
                  </td>

                  <td>
                    <label>
                      <span>Course Number</span>
                      <input formControlName="number" id="number" type="text" class="style-3" placeholder="CSE4142">
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label>Exam title:
                      <input type="text" formControlName="title" id="title" class="style-3" placeholder="Midterm 1"/>
                    </label>
                  </td>
                  <td>
                    <label>
                      <span>Duration (minutes)</span>
                      <input formControlName="duration" id="duration" type="number" class="style-3" placeholder="90">
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label>
                      <span>Calculator allowed?</span><br>
                      <select formControlName="calculator" id="calculator">
                        <option value="yes">Yes</option>
                        <option value="no" selected="selected">No</option>
                      </select>
                    </label>
                  </td>
                  <td>
                    <label>
                      <span>Blank sheets provided?</span><br>
                      <select formControlName="blanksheets" id="blanksheets">
                        <option value="yes" selected>Yes</option>
                        <option value="no">No</option>
                      </select>
                    </label>
                  </td>
                </tr>
              </tbody>
                    
            <br/>
            <input type="submit" id="submit" value="Proceed"/>

          </form>
      </div>
  </div>

<!--
  <div class="panel-create-test-from-backup" [ngClass]="{'hidden': panel != 'create'}" [@newExamPanel]='examPanelState'>
      <span class="big white">Load from backup.</span><br><br>
      
      <div class="box-1-dark" id="loadFromBackupDiv">
          <form class="create-from-backup">
            <td>
              <label>
                <span>Paste the backed-up string below</span><br>
                <input id="load_string" type="textbox" class="style-3" placeholder="">
              </label>
            </td>

            <span class="hidden" style="color: #ffe;" id="invalidbackupstringalert"><br>Invalid backup string.</span>

            <br/>
            <br/>
            <button type="submit" id="loadBackup">Load</button>

          </form>
      </div>
  </div>-->


<div class="panel-alt-2 wide-panel" [ngClass]="{'hidden': panel != 'instructions'}">
  
      <span class="big white">Exam Instructions</span><br><br>
      
      <div class="box-1-dark">
        <ol>
          <li>Maintain silence at all times. Action will be taken againts those who fail to do so.</li>
          <li>Calculators are <span *ngIf="calculator !== 'yes'" class="highlight-light color"><b>NOT</b></span> allowed.</li>
          <li>Blanksheets will <span *ngIf="blanksheets !== 'yes'" class="highlight-light color"><b>NOT</b></span> be provided for rough work.</li>
          <li>Do not start answering the test unless instructed, or the timer starts.</li>
          <li>The duration of the exam is <span class="highlight-light color"><b>{{duration}} minutes.</b></span></li>
          <li>In case you need to ask something, quietly raise your hand, and we will get to you.</li>
        </ol>
        <br>
        

        <input type="submit" (click)='hidePanel()' value="Close">
      </div>
  </div>

<!--test created panel-->
  <div class="panel-alt-2" [@movePanel]='move' [ngClass]="{'hidden': panel !== 'created'}">
      <span class="big white">{{title}} exam event created.</span><br><br>
      
      <div>
        <p class="med box-1">
          Next, either you can choose to show test instructions or can skip it to begin the test.
        </p>
      </div>

      <div>
        <p class="med box-2">
          Select an option from below.
        </p>
      </div>
      
  </div>

    <div class="panel-alt-2-button" [@movePanel]='move' [ngClass]="{'hidden': panel !== 'created'}">
      
      <div>
        <button id="show_instructions" class="style-2" (click) = "showInstructions()">Show Instructions</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="begin_exam" class="style-2" (click) = "beginExam()">Begin Exam</button>
      </div>
      
  </div>








  <!--timer panel-->
  <div class="panel-alt" [ngClass]="{'hidden': panel !== 'begun'}">

      <span class="big white">Time remaining</span>
      
      <div class="timer">
          <div class="timer-box">
              <span class="hours">{{hours}}:</span>
              <span class="minutes">&nbsp;{{minutes}}</span>
              <span class="seconds">&nbsp; {{seconds}}</span>
          </div>
      </div>

  </div>
</div>

<div class="announcement-input-div">
  <input type="text"/>
</div>
  